# dependencies
/node_modules

# next
/.next/
/out/

# production
/build

# env
.env
.env*.local

# prisma local db
*.db
*.db-journal
/prisma/dev.db*

# misc
.DS_Store
*.pem
npm-debug.log*
next-env.d.ts
tsconfig.tsbuildinfo
